<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <!-- APPLICATION OPTIONS -->
        <add key="tc_show_settings_tab" value="true" />
        <add key="tc_show_configuration_tab" value="true" />
        <add key="tc_show_raw_mode_tab" value="true" />
        <add key="tc_show_json_tab" value="true" />
        <!-- DEVICE CONFIGURATION -->
        <add key="tc_read_terminal_info" value="true" />
        <add key="tc_read_terminal_data" value="true" />
        <add key="tc_read_encryption"    value="true" />
        <add key="tc_read_capk_settings" value="false" />
        <add key="tc_read_aid_settings"  value="false" />
        <add key="tc_read_msr_settings"  value="false" />
        <!-- MSR READ -->
        <add key="tc_read_msr_timeout"   value="30000" />
        <!-- TRANSACTION TIMER -->
        <add key="tc_read_transaction_timeout" value="1000" />
        <add key="tc_minimum_transaction_length" value="950" />
    </appSettings>

</configuration>