<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
        <add key="read_terminal_info" value="false" />
        <add key="read_terminal_data" value="false" />
        <add key="read_encryption"    value="false" />
        <add key="read_capk_settings" value="false" />
        <add key="read_aid_settings"  value="false" />
        <add key="read_msr_settings"  value="false" />
    </appSettings>

</configuration>